.event-details-page {
  padding-top: 76px;
}

.event-details-title {
  margin-bottom: 48px;
}

.event-details-layout {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

/* Левая карточка-меню */
.event-details-sidebar-card {
  width: 284px;
  height: 420px;
  background-color: var(--white);
  border-radius: 32px;
  padding: 28px;

  display: flex;
  flex-direction: column;
}

.event-details-status {
  margin-bottom: 24px;
}

.event-details-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Пункты меню */
.event-details-menu-item {
  text-align: left;
  border: none;
  background: none;
  padding: 0;

  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
  color: var(--black);
  cursor: pointer;
}

.event-details-menu-item--active {
  font-weight: 500;
  opacity: 1;
}

.event-details-sidebar-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.event-details-sidebar-actions {
  display: flex;
  gap: 20px;
}

/*  Кнопка "Редактировать" */
.btn.btn--edit {
  background: none;
  border: 1px solid var(--devider);
  height: 40px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 16px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);
}

.btn--edit:hover {
  border-color: var(--black);
}

/* Кнопка "Удалить" */
.btn.btn--delete {
  background: none;
  border: none;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);
}

.btn--delete:hover {
  color: var(--txt);
}

/* Кнопка "Опубликовать" */
.btn.event-details-publish-btn {
  width: 100%;
  height: auto;
  padding: 9px 16px 12px 16px;
}

/* Правая карточка */
.event-details-content-card {
  width: 908px;
  min-height: 420px;
  background: var(--white);
  border-radius: 32px;
  padding: 28px;

  display: flex;
  flex-direction: column;
}

.event-details-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.event-details-chips {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-details-chips-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-details-chips-right {
  display: flex;
  align-items: center;
}

.event-chip {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--grey);
  height: 27px;
  padding: 0 12px;

  border-radius: 20px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
  line-height: 1;
}

.event-chip span {
  font-feature-settings: "lnum" 1, "tnum" 1;
}

.event-chip__icon {
  width: 16px;
  height: 21px;
  flex-shrink: 0;
}

.event-details-download-icon {
  width: 16px;
  height: 21px;
  flex-shrink: 0;
}

/* Разделитель */
.event-details-divider {
  width: 100%;
  height: 1px;
  background-color: var(--devider);
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 28px;
}

/* Текст описания */
.event-details-description {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
  line-height: normal;
  margin-bottom: 0;
  white-space: pre-line;
}

/* Кнопка "Скачать" */
.btn.event-details-download-btn {
  margin-top: 28px;

  width: auto;
  height: 44px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: none;
  border: 1px solid var(--devider);
  border-radius: 8px;

  padding: 9px 16px 12px 16px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);

  align-self: flex-start;
}

.btn.event-details-download-btn:hover {
  border-color: var(--black);
}