.login-page {
  min-height: calc(100vh - 64px - 56px - 24px - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Карточка авторизации */
.login-card {
  width: 513px;
  background-color: var(--white);
  border-radius: 32px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-title {
  font-family: var(--font-heading);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3); 
  color: var(--black);
  text-align: center;
}

.login-fields {
  width: 334px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
}

/* Поля ввода */
.login-input {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  background-color: var(--grey);
  padding: 0 16px;
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--black);
  transition: background-color 0.25s ease;
}

.login-input:hover {
  background-color: #DEE0E3;
}

.login-input:focus {
  background-color: #DEE0E3;
  outline: none;
  border: none;
}

.login-input::placeholder {
  font-family: var(--font-text);
  font-size: 15px;
  color: var(--txt);
}

/* Кнопка "Войти" */
.login-button {
  width: 100%;
}