.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-window {
  width: 1012px;
  height: 800px;
  background-color: var(--white);
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  position: relative;
}