/* Общая карточка */
.participants-card {
  width: 908px;
  min-height: 420px;
  background: var(--white);
  border-radius: 32px;
  padding: 28px;

  display: flex;
  flex-direction: column;
}

/* Заголовки */
.participants-title {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  color: var(--black);

  margin-bottom: 24px;
}

.participants-title--second {
  margin-top: 36px;
}

/* Линия-разделитель */
.participants-divider {
  width: 100%;
  height: 1px;
  background-color: var(--devider);
  border-radius: 1px;
}

/* Список */
.participants-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Один элемент списка */
.participants-item {
  display: grid;
  grid-template-columns: 388px 1fr;
  align-items: center;

  padding: 16px 0;
  border-bottom: 1px solid var(--devider);
}

.participants-email {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
}

.participants-name {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
}