/* Правая карточка */
.event-details-content-card {
  width: 908px;
  min-height: 420px;
  background: var(--white);
  border-radius: 32px;
  padding: 28px;

  display: flex;
  flex-direction: column;
}

.event-details-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.event-details-chips {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-details-chips-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-details-chips-right {
  display: flex;
  align-items: center;
}

.event-chip {
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--grey);
  height: 27px;
  padding: 0 12px;
  border-radius: 20px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
  line-height: 1;
}

.event-chip span {
  font-feature-settings: "lnum" 1, "tnum" 1;
}

.event-chip__icon {
  width: 16px;
  height: 21px;
  flex-shrink: 0;
}

.event-details-download-icon {
  width: 16px;
  height: 21px;
  flex-shrink: 0;
}

/* Разделитель */
.event-details-divider {
  width: 100%;
  height: 1px;
  background-color: var(--devider);
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 28px;
}

/* Текст описания */
.event-details-description {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  color: var(--black);
  line-height: normal;
  margin-bottom: 0;
  white-space: pre-line;
}

/* Кнопка "Скачать" */
.btn.event-details-download-btn {
  margin-top: 28px;
  width: auto;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: none;
  border: 1px solid var(--devider);
  border-radius: 8px;

  padding: 9px 16px 12px 16px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);

  align-self: flex-start;
}

.btn.event-details-download-btn:hover {
  border-color: var(--black);
}