/* Левая карточка-меню */
.event-details-sidebar-card {
  width: 284px;
  height: 420px;
  background-color: var(--white);
  border-radius: 32px;
  padding: 28px;

  display: flex;
  flex-direction: column;
}

.event-details-status {
  margin-bottom: 24px;
}

.event-details-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Пункты меню */
.event-details-menu-item {
  text-align: left;
  border: none;
  background: none;
  padding: 0;

  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
  color: var(--black);
  cursor: pointer;
}

.event-details-menu-item--active {
  font-weight: 500;
  opacity: 1;
}

.event-details-sidebar-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.event-details-sidebar-actions {
  display: flex;
  gap: 20px;
}

/*  Кнопка "Редактировать" */
.btn.btn--edit {
  background: none;
  border: 1px solid var(--devider);
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 16px;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);
}

.btn--edit:hover {
  border-color: var(--black);
}

/* Кнопка "Удалить" */
.btn.btn--delete {
  background: none;
  border: none;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  font-family: var(--font-text);
  font-size: var(--font-size-text);
  color: var(--black);
}

.btn--delete:hover {
  color: var(--txt);
}

/* Кнопка */
.btn.event-details-publish-btn {
  width: 100%;
  height: auto;
  padding: 9px 16px 12px 16px;
}

.btn.event-details-publish-btn--secondary {
  background-color: var(--devider);
}

.btn.event-details-publish-btn--secondary:hover {
  background-color: #CECFD0;
}