/* Карточка таймплана */
.event-timeline-card {
  width: 908px;
  min-height: 420px;
  background: var(--white);
  border-radius: 32px;
  padding: 28px;
  z-index: 0;

  position: relative;
  display: flex;
}

.event-timeline-card::before {
  content: "";
  position: absolute;
  top: 28px;
  bottom: 28px;
  left: 87px;
  z-index: 0;

  width: 2px;
  background-color: var(--devider);
  border-radius: 999px;
}

.event-timeline-card.event-timeline-card--empty::before {
  display: none;
}

/* Список таймплана */
.event-timeline-list {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0;
  width: 100%;
}

/* Один пункт */
.event-timeline-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 16px;
  align-items: flex-start;

  padding-bottom: 20px;
}

.event-timeline-time {
  width: 38px;
  display: block;
  text-align: left;
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 15px;
  color: var(--black);
  text-align: right;
  padding: 2px 0 0 0;
}

.event-timeline-dot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-timeline-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  z-index: 2;
  margin-top: 5px;
}

.event-timeline-text {
  font-family: var(--font-text);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
  line-height: 1.4;
  color: var(--black);
}

.event-timeline-card.event-timeline-card--empty .event-timeline-text {
  color: var(--txt);
}